/* 既存のスタイル */
body {
    background-color: black;  /* 背景を黒に変更 */
    color: white;  /* 文字色を白に変更 */
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #343a40;
}

footer {
    background-color: #343a40;
}

h1, h2, h3, h4, h5, h6 {
    color: #007bff;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.card {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #007bff;
}

/* 新しいスタイル */
body {
    overflow: hidden;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* シミュレーションキャンバスのスタイル */
#simulationCanvas {
    display: block;
    margin: 0 auto;
    background-color: #000;
    width: 100%;
    height: 500px;
}
